@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', 'sans-serif';
}

a {
    color: inherit;
    text-decoration: none;
}

.medsos {
    padding: 15px 0;
    background-color: #5c6b8b;
}

.medsos ul li {
    display: inline-block;
    color: white;
    margin-right: 15px;
    float: left;
}

.containerr {
    float: left;   
}

.containerr a:hover {
    color: black;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.containeer {
    width: 100%;
    margin: 0 auto;
}

.container::after {
    content: '';
    display: block;
    clear: both;
}

header h1 {
    text-align: center;
    padding: 15px 0;
    color: rgb(71, 75, 82);
    background-color: #edf1ff;
}

.banner {
    height: 75vh;
    background-image: url('../img/Background.jpg');
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

section {
    padding: 12px 0;
}

.label {
    background-color: #5c6b8b;
    color: white;
}

footer {
    background-color: #5c6b8b;
    text-align: center;
}